<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>Interactive Catchment Explorer</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="full" id="app">
  <div class="ice-header">
    <span class="brand">SHEDS: Interactive Catchment Explorer</span>
    <div class="pull-right">
      <a href="http://ice.ecosheds.org">ICE Home</a> |
      <a href="http://ecosheds.org">SHEDS Home</a>
    </div>
  </div>
  <div class="ice-container">
    <div class="ice-left-sidebar">
      <div class="ice-box">
        <div class="ice-box-title">Controls</div>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-default disabled"><i class="fa fa-question-circle"></i> About</button>
          <button class="btn btn-default disabled" data-toggle="modal" data-target="#data-modal"><i class="fa fa-table"></i> Dataset</button>
          <button class="btn btn-default" @click="share"><i class="fa fa-share"></i> Share</button>
          <button class="btn btn-default" data-toggle="modal" data-target="#modal-download"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
      <div class="ice-box">
        <div class="ice-box-title">Aggregation Level</div>
        <select-picker
          :config="config.layer.config"
          :options="config.layer.options"
          :selected="state.layer"
          v-on:input="selectLayer"
          label="label"
          value="id"
          title="Select layer...">
        </select-picker>
      </div>
      <div class="ice-box">
        <div class="ice-box-title">Region Filter</div>
        <select-picker
          :config="config.filters.region.config"
          :options="config.filters.region.options"
          :selected="state.filters.region"
          v-on:input="selectFiltersRegion"
          label="label"
          value="id"
          title="Select states..."
          multiple="true">
        </select-picker>
      </div>
      <div class="ice-box">
        <div class="ice-box-title">Map Variable</div>
        <select-picker
          :config="config.variable.config"
          :options="config.variable.options"
          :selected="state.variable"
          v-on:input="selectVariable"
          label="label"
          value="id"
          title="Select variable...">
        </select-picker>
        <ice-legend :variable="variable" :color-scale="colorScale"></ice-legend>
      </div>
      <!-- <div class="ice-box">
        <div class="ice-box-title">Debug</div>
<pre>
{{state.map.view}}
</pre>

      </div> -->
    </div>
    <div class="ice-right-sidebar">
      <div class="ice-box">
        <div class="ice-box-title">Catchment Filters and Histograms</div>
        <select-picker
          :config="config.filters.charts.config"
          :options="config.filters.charts.options"
          :selected="state.filters.charts"
          v-on:input="selectFiltersCharts"
          label="label"
          value="id"
          title="Select filter variables..."
          multiple="true">
        </select-picker>
        <div class="ice-filter-legend">
          <div><i class="fa fa-square" style="color:steelblue"></i> All Catchments <span class="pull-right" v-show="dataset.loaded" style="display:none">{{state.xf.count.filtered | number}} of {{state.xf.count.total | number}} filtered</span></div>
          <div v-show="state.selected.aggregation" style="display:none"><i class="fa fa-square" style="color:orangered"></i> Within Selected HUC <span class="pull-right">{{state.selected.count.filtered | number}} of {{state.selected.count.total | number}} filtered</span></div>
        </div>
        <div class="ice-filter-container">
          <div
            is="ice-filter"
            v-for="filter in state.xf.filters"
            :key="filter.id"
            :id="filter.id"
            :range="filter.range"
            :variable="filter.variable"
            :selected="state.selected"
            :get-dim="filter.getDim"
            :get-selected-dim="filter.getSelectedDim"
            v-on:brush="setFilter"
            v-on:destroy="removeFilter">
          </div>
        </div>
      </div>
    </div>
    <ice-status :message="state.message" v-show="state.message"></ice-status>
    <ice-select-aggregation
      :feature-type="featureType"
      :feature="state.selected.aggregation"
      :show="state.map.showUnselectedAggregation"
      v-if="state.selected.aggregation"
      v-on:unselect="selectAggregation"
      v-on:zoom="zoomToFeature"
      v-on:catchments="showCatchments"
      v-on:data="showDataAggregation"
      v-on:show="showUnselectedAggregation">
    </ice-select-aggregation>
    <ice-select-catchment
      :feature="state.selected.catchment"
      v-if="state.selected.catchment"
      v-on:unselect="selectCatchment"
      v-on:zoom="zoomToFeature"
      v-on:data="showDataCatchment">
    </ice-select-catchment>
    <ice-map
      :center="state.map.view.center"
      :zoom="state.map.view.zoom"
      :set-view="setMapView"
      :basemaps="config.map.basemaps"
      :overlays="config.map.overlays"
      :variable="variable"
      :color-scale="colorScale"
      :layer="state.map.aggregationLayer"
      :catchment-layer="state.map.catchmentLayer"
      :selected-aggregation="state.selected.aggregation"
      :selected-catchment="state.selected.catchment"
      :get-feature-value="state.map.getAggregationValue"
      :get-catchment-value="state.map.getCatchmentValue"
      :aggregation-tooltip="aggregationTooltip"
      :catchment-tooltip="catchmentTooltip"
      :show-unselected-aggregation="state.map.showUnselectedAggregation"
      v-on:select-aggregation="selectAggregation"
      v-on:select-catchment="selectCatchment">
    </ice-map>
    <div class="ice-loading" v-show="show.loading">
      <h1>Loading</h1>
      <div><i class="fa fa-spinner fa-spin fa-5x fa-fw"></i></div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="modal-share">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Share</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group" style="margin-bottom:10px">
                <input type="text" class="form-control" :value="shareUrl" id="shareUrl">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-copy" type="button" data-clipboard-target="#shareUrl" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard"><span class="glyphicon glyphicon-copy"></span></button>
                </span>
              </div>
              <p>Copy this URL to share your current ICE view.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="modal-download">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Download</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-primary" @click="downloadAggregationLayer">Download HUC Layer as GeoJSON</button>
              <p>Click this button to download the current HUC layer in <a href="http://geojson.org/" target="_blank">GeoJSON</a> format.</p>
              <hr>
              <a class="btn btn-primary" :href="dataset.loaded ? dataset.config.data.url : '#'" download>Download Dataset as CSV</a>
              <p>Click this button to download the dataset containing values of each variable for all catchments in CSV format. Shapefiles of the catchments can be downloaded here. Use the <code>featureid</code> columns to join the dataset to the shapefile attribute table.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-data-aggregation">
    <div class="modal-dialog" role="document" style="overflow-y: initial">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Selected HUC Data</h4>
        </div>
        <div class="modal-body" style="height: 430px;overflow-y: auto;">
          <div class="row">
            <div v-if="state.selected.aggregation" class="col-xs-12">
              <p>
                <strong>{{featureType}}: {{state.selected.aggregation.id}} - {{state.selected.aggregation.properties.name}}</strong><br>
                {{state.selected.stats.count | number}} catchments ({{state.selected.stats.area | number}} sq km)
              </p>
              <p>This table lists the area-weighted mean value for the selected HUC. These values include all catchments and thus <em>are not</em> affected by current filters.</p>
              <table class="table table-condensed table-striped" v-if="dataset.config.variables && state.selected.variableStats">
                <thead>
                  <th>Variable</th>
                  <th>Value</th>
                </thead>
                <tbody>
                  <tr v-for="variable in dataset.config.variables">
                    <td>{{variable.label}}</td>
                    <td>{{state.selected.variableStats[variable.id]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-else class="col-xs-12">
              No HUC is selected
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-data-catchment">
    <div class="modal-dialog" role="document" style="overflow-y: initial">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Selected Catchment Data</h4>
        </div>
        <div class="modal-body" style="height: 430px;overflow-y: auto;">
          <div class="row">
            <div v-if="state.selected.catchment" class="col-xs-12">
              <p>
                <strong>Catchment: {{state.selected.catchment.id}}</strong>
              </p>
              <table class="table table-condensed table-striped" v-if="dataset.config.variables && state.selected.catchmentStats">
                <thead>
                  <th>Variable</th>
                  <th>Value</th>
                </thead>
                <tbody>
                  <tr v-for="variable in dataset.config.variables">
                    <td>{{variable.label}}</td>
                    <td>{{state.selected.catchmentStats[variable.id]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-else class="col-xs-12">
              No catchment is selected
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

</script>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="js/bundle.js"></script>

</body>

</html>
